
.hyd-m-banner {
  display: flex;
  width: 100%;
  justify-content: center;

  &__text {
    display: inline-flex;
    font-weight: bold;

    min-height: 4rem;
    align-items: center;

  }

  &--info {
    background-color: $hyd_color__info;
  }
  &--warn {
    background-color: $hyd_color__warn;
  }
  &--hidden {
    display: none;
  }
}